/* .mantine-kcpopt {
  color: white;
  border: none;
  background-color: #1c1f26;
}
.mantine-kcpopt:hover {
  background-color: #1c1f2670;
}
.mantine-Select-dropdown {
  color: white;
  background-color: #1c1f26;
} */
.dropdown {
  background-color: #1c1f26;
}
